Source: golang-github-thomsonreuterseikon-go-ntlm
Section: devel
Priority: extra
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Stephen Gelman <ssgelm@gmail.com>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any
Standards-Version: 3.9.8
Homepage: https://github.com/ThomsonReutersEikon/go-ntlm
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/golang-github-thomsonreuterseikon-go-ntlm.git
Vcs-Git: https://anonscm.debian.org/git/pkg-go/packages/golang-github-thomsonreuterseikon-go-ntlm.git
XS-Go-Import-Path: github.com/ThomsonReutersEikon/go-ntlm

Package: golang-github-thomsonreuterseikon-go-ntlm-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: 
 NTLM Implementation for Go
 .
 This is a native implementation of NTLM for Go
 that was implemented using the Microsoft MS-NLMP documentation available
 at http://msdn.microsoft.com/en-us/library/cc236621.aspx.  The library
 is currently in use and has been tested with connectionless NTLMv1 and
 v2 with and without extended session security.
